#######################
# general information #
#######################

# file:       .gitignore
# created:    2015-07-23
# author(s):  Marcel Schilling <marcel.schilling@mdc-berlin.de>
# license:    GNU Affero General Public License Version 3 (GNU AGPL v3)
# purpose:    untrack files generated during generation of festival runnig orders based on ratings


######################################
# change log (reverse chronological) #
######################################

# 2015-07-23: initial version (WOA 2015 Markdown & HTML output files)


################
# output files #
################

# WOA 2015 Markdown output file
/woa.md

# WOA 2015 HTML output file
/woa.html
